@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.persistent-sidebar {
    height: 100vh;
    background-color: $ui-background;
    width: 48px;
    padding-left: 12px;
    padding-right: 12px;
    border-right: #e0e0e0;
    border-right-width: 1px;
    border-right-style: solid;
    z-index: 1;
    cursor: pointer;
}

.persistent-sidebar-option {
    margin-top: 12px;
    margin-bottom: 12px;
}

.icon {
    height: 24px;
    width: 24px;  
}