@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

  .run-page {
    background-color: $ui-03;
    padding-left: 40px;
    padding-right: 40px;
    // padding-top: ;
    padding-bottom: 48px;
  }

  .run-overview {
    border-radius: 4px;
  }
  .tabs{
    max-width: 1456px;
    margin-left: auto;
    margin-right: auto;
  }

  .bx--tabs{
    margin-bottom: 40px;
  }
  

    
