<app-breadcrumb></app-breadcrumb>

<div class="run-page">
    <ibm-loading class="bx--loading" [isActive]="loading" [size]="'md'" withOverlay={true}></ibm-loading>
    <div class="buttons">
        <button class="bt button1" [ibmButton]="ibmButton" [size]="'md'" [iconOnly]="true">
            <img src="../../assets/icons/add-galasa04.svg" class="bx--btn__icon">
            <img src="../../assets/icons/add-white.svg" class="bx--btn__icon h-img">
        </button>
        <button class="bt button2" [ibmButton]="ibmButton" [size]="'md'" [iconOnly]="true">
            <img src="../../assets/icons/reset-galasa04.svg" class="bx--btn__icon">
            <img src="../../assets/icons/reset-white.svg" class="bx--btn__icon h-img">
        </button>
        <button class="bt button3" [ibmButton]="ibmButton" [size]="'md'" [iconOnly]="true">
            <img src="../../assets/icons/event--schedule-galasa04.svg" class="bx--btn__icon">
            <img src="../../assets/icons/event--schedule-white.svg" class="bx--btn__icon h-img">
        </button>
    </div>
    <ibm-tabs [followFocus]=true [cacheActive]=true class="tabs">

        <ibm-tab (selected)="overviewSelected($event)" class="bx--tabs__nav-link" id="overview" heading="Overview">
            <app-run-overview class="run-overview" [testStructure]="testStructure"></app-run-overview>
        </ibm-tab>
        <ibm-tab (selected)="runLogSelected($event)" class="bx--tabs__nav-link" id="run-log" heading="Run Log"
            title="Run test detail / Run Log">
            <app-run-log [testStructure]="testStructure"></app-run-log>
        </ibm-tab>
        <ibm-tab (selected)="artifactsSelected($event)" class="bx--tabs__nav-link" id="artifacts" heading="Artifacts">
            <app-artifact [testStructure]="testStructure"></app-artifact>
        </ibm-tab>
        <ibm-tab (selected)="historySelected($event)" class="bx--tabs__nav-link" id="history" heading="History">
            <app-history [testStructure]="testStructure"></app-history>
        </ibm-tab>

    </ibm-tabs>
</div>