<app-breadcrumb></app-breadcrumb>

<div class="run-page">
    <ibm-loading class="bx--loading" [isActive]="loading" [size]="'md'" withOverlay={true}></ibm-loading>

    <ibm-tabs [followFocus]=true [cacheActive]=true class="tabs">
        <ibm-tab (selected)="overviewSelected($event)" class="bx--tabs__nav-link" id="overview" heading="Overview">
            <app-run-overview class="run-overview" [testStructure]="testStructure"></app-run-overview>
        </ibm-tab>
        <ibm-tab (selected)="runLogSelected($event)" class="bx--tabs__nav-link" id="run-log" heading="Run Log"
            title="Run test detail / Run Log">
            <app-run-log [testStructure]="testStructure"></app-run-log>
        </ibm-tab>
        <ibm-tab (selected)="artifactsSelected($event)" class="bx--tabs__nav-link" id="artifacts" heading="Artifacts">
            <app-artifact [testStructure]="testStructure"></app-artifact>
        </ibm-tab>
        <ibm-tab (selected)="historySelected($event)" class="bx--tabs__nav-link" id="history" heading="History">
            <app-history [testStructure]="testStructure"></app-history>
        </ibm-tab>
    </ibm-tabs>
</div>