@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.breadcrumb-header {
  max-width: 100vw;
  height: 48px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  @include type-style("body-short-01");
}

  .run-page {
    background-color: $ui-03;
    padding-left: 88px;
    padding-right: 40px;

    padding-bottom: 48px;
  }

  .run-overview {
    border-radius: 4px;
  }

  

    
