<header class="bx--header" name="Dashboard" brand="Galasa">
	<galasa-hamburger class="hamburger" *ngIf="hasHamburger" [active]="active" (selected)="active = !active">
        
    </galasa-hamburger>
    <div class = "galasa-icon">
        <button aria-label="Switch" class="bx--header__action" type="button">
        <img class="icons" src= "../../assets/icons/galasa-icon-white.svg" >
    </button>
    </div>
    <div class = "bx--header__global">
        <h6 class="Header-module--headerName">{{title}}</h6>
    </div>
     <div class = "bx--header__global">
    <button aria-label="Switch" class="bx--header__action" type="button">
    
        <img class="icons" src= "../../assets/icons/user--avatar-white.svg" >
    
</button>
</div>
</header>
<ibm-sidenav  [expanded]="false" [hidden]="!active" class="hamburger-menu">
    <ibm-sidenav-item class="hamburger-menu-item" [route]="['/']"  >
        <svg icon ibmIconFade size="16"></svg>
        Getting started
    </ibm-sidenav-item>
    <ibm-sidenav-item [route]="['/results']" >
        <svg icon ibmIconFade size="16"></svg>
        Test history
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        System status
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        System configuration
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        Test schedule
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        Profile
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        Documentation
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        Support
    </ibm-sidenav-item>
</ibm-sidenav>