<header class="bx--header" name="Dashboard" brand="Galasa">
	<ibm-hamburger class="hamburger" *ngIf="hasHamburger" [active]="active" (selected)="active = !active"></ibm-hamburger>
    <div class = "galasa-icon">
        <button aria-label="Switch" class="bx--header__action" type="button">
        <img src= "../../assets/icons/galasa-icon-white.svg" >
    </button>
    </div>
    <div class = "bx--header__global">
        <h6 class="Header-module--headerName">Dashboard</h6>
    </div>
     <div class = "bx--header__global">
    <button aria-label="Switch" class="bx--header__action" type="button">
    
        <img  src= "../../assets/icons/user--avatar-white.svg" >
    
</button>
</div>
</header>
<ibm-sidenav [expanded]="false" [hidden]="!active" class="hamburger-menu">
    <ibm-sidenav-item class="hamburger-menu-item" [route]="['/']">
        <svg icon ibmIconFade size="16"></svg>
        Dashboard
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        CPS properties
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        Schedule tests
    </ibm-sidenav-item>
    <ibm-sidenav-item>
        <svg icon ibmIconFade size="16"></svg>
        Running tests
    </ibm-sidenav-item>
    <ibm-sidenav-item [route]="['/results']">
        <svg icon ibmIconFade size="16"></svg>
        Previously run tests
    </ibm-sidenav-item>
</ibm-sidenav>