@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.bx--header{
    border-bottom: none;
}
.bx--header__action{
    border: none;
}

.icons{
    padding-top: 8px;
    padding-bottom: 8px;
}

.Header-module--headerName{
max-width: 384px;
font-size: 1rem;
line-height: 1.375;
letter-spacing: 0;
transition: opacity .11s cubic-bezier(.2,0,.38,.9);
color: #fff;
text-decoration: none;
left: 3rem;
white-space: nowrap;
padding: 0 1rem;
height: 3rem;
border-top: 1px solid transparent;
display: flex;
align-items: center;
z-index: 3;
@include carbon--type-style("heading-02");
font-family: 'Work Sans', sans-serif;
font-weight: 500;
font-style: normal;
}
.bx--header__action:hover{
    background-color: #032a68;
}

.hamburger:hover{
    background-color: #032a68;
}

.hamburger-menu {
    box-shadow: 2px 0px 2px $ui-03;
}

.hamburger-menu-item:hover {
    background-color: #dfecff;
}

.hamburger-menu-item--selected {
    background-color: #c0d5f5;
}