@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.footer {
    background: $ui-background;
    border-top: #e0e0e0;
    border-top-width: 1px;
    border-top-style: solid;
    max-width: 100vw;
    max-height: 48px;
    bottom: 0;
    position: sticky;
    // padding: 16px;
}


