@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

// forces the navigation items to be displayed at all viewport sizes
.bx--header__nav {
	display: block;
}


.bx--header {
  background-color: #03429D;
  height: 48px;
  text-align: center;
}

.bx--content{
	background-color: $ui-background;
	padding:0;
}


// makes the grid fit the entire width of the page
.bx--grid--full-width {
	padding-left: 1rem;
	padding-right: 1rem;
  }
  // removes excess padding for nested full width grids
  .bx--grid--full-width .bx--grid--full-width {
	padding-left: 0;
	padding-right: 0;
  }
  // removes extraneous row margins in the full width grid
  .bx--grid--full-width .bx--row {
	margin-left: 0;
	margin-right: 0;
  }

  // Hamburger side menu
  .bx--side-nav__navigation {
    max-width: 272px;
  }
  a.bx--side-nav__link {
    align-items: center;
    height: 32px;
    padding-left: 0;
    padding-right: 0;
  }
  a.bx--side-nav__link > .bx--side-nav__link-text {
    color: #03429d;
    @include carbon--type-style("body-short-01");
    @include carbon--font-weight("semibold");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  // active and hover styles not working
  .bx--side-nav__link:hover {
    background-color: #dfecff;
  }
  .bx--side-nav__link:active {
    background-color: #c0d5f5;
    border-left:#03429D 1px solid;
  }
  .bx--side-nav__menu-item:hover {
    background-color: #dfecff;
  }
  .bx--side-nav__menu-item:active {
    background-color: #c0d5f5;
    border-left:#03429D 1px solid;
  }

  // Header 
  .bx--header__menu-trigger {
    border: 0px none transparent;
  }
  .bx--header__menu-trigger:hover {
    background-color: #032a68; 
    border: 0px none transparent;
  }
  .bx--header__menu-trigger:focus {
    border-right: 1px solid white;  
    // Border will not disappear when the Hamburger has been collapsed unless you click somewhere else on the page
  }
  .bx--header__menu-trigger:active {
    border: 0px none transparent;
  }


  // Dropdown boxes in side toolbar
  .bx--text-input {
    border-bottom: none;
  }
  .bx--list-box.bx--combo-box {
    background-color: $ui-background;
    border-radius: 4px;
    border: #6f6f6f 1px solid;
  }

  .bx--list-box__menu-item {
    background-color: $ui-background;
    min-width: fit-content;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: scroll;
  }
  .bx--list-box__menu-item__option {
    min-width: fit-content;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: scroll;
  }
  .bx--list-box__menu-item:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .bx--list-box__menu-item:hover {
    background-color: #dfecff;
    border-left:#03429D 1px solid;
  }
  .bx--list-box__menu.bx--multi-select {
    max-height: 200px;
    min-width: 235px;
    width: fit-content;
    z-index: 1;
    background-color: $ui-background;
    border-radius: 4px;
    border: $ui-01 1px solid;
  }

  

  // Results Table in Results Page
  .bx--table-sort {
    background-color: $active-secondary;
    color: $inverse-01;
    @include carbon--type-style("productive-heading-01");
    @include carbon--font-weight("semibold");
    font-family: 'Open Sans', sans-serif;
		font-weight: 600;
    font-style: normal; 
    height: 48px;
    white-space: nowrap;
  }
  .bx--table-sort.bx--table-sort--active {
    background-color: $active-secondary;
  }
  .bx--table-sort:first-of-type {
    border-radius: 4px;
  }
  .bx--table-sort:last-of-type {
    border-radius: 4px;
  }
  .bx--table-sort:hover {
    background-color: #525252;
  }
  .bx--data-table--zebra tbody tr:not(.bx--parent-row):nth-child(n) td {
    border-top: 0.5px $ui-03 solid;
    border-bottom: 0.5px $ui-03 solid;
  }

  .bx--data-table:hover { // hover colour not working
    background-color: #dfecff;
  }


  // Pagination underneath Results Page
  .bx--pagination {
    background-color: $ui-background;
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 48px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px transparent;
}


  // Method Table in Run Page
  .bx--data-table th {
    background-color: $active-secondary;
    color: $inverse-01;
    @include carbon--type-style("productive-heading-01");
    @include carbon--font-weight("semibold");
    font-family: 'Open Sans', sans-serif;
		font-weight: 600;
    font-style: normal;
    height: 48px;
    white-space: nowrap;
  }
  .bx--data-table th:first-of-type {
    border-top-left-radius: 4px;
    //border-right: white;
    //border-style: solid;
   // border-width: thin;
  }  
  .bx--data-table th:last-of-type {
    border-top-right-radius: 4px;
  }  
  .bx--data-table td {
    background-color: $ui-background;
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 48px;
    white-space: nowrap;

  }


  //buttons on tabs in run page
  .bx--btn.bx--btn--icon-only.bx--tooltip__trigger{
    position: absolute;
  }

  // Tabs in Run Page 
  .bx--tabs--scrollable{
    max-width: 1456px;
    margin-left: auto;
    margin-right: auto;
  }
  .bx--tabs--scrollable .bx--tabs--scrollable__nav{
    border-radius: 4px;
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .bx--tabs--scrollable .bx--tabs--scrollable__nav-item{
    background-color: $ui-02;
    width: 110px;
  }
  .bx--tabs--scrollable .bx--tabs--scrollable__nav-item:hover .bx--tabs--scrollable__nav-link {
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #03429D;
    color: white;
    border: none;
  }
  .bx--tabs--scrollable .bx--tabs--scrollable__nav-item--selected .bx--tabs--scrollable__nav-link {
    background-color: #03429D;
    color: white;
    border: none;
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .bx--tabs--scrollable .bx--tabs--scrollable__nav-link{
    
    border: none;
  }

  .bx--tab-content{
    padding:0px;
  }


  // .bx--tabs__nav-item--selected .bx--tabs__nav-link  {
  //   border-bottom: 0px, none;
  //   color: $inverse-01;
  // }
  // .bx--tabs__nav-item--selected .bx--tabs__nav-link:focus {
  //   border-bottom: 0px, none;
  //   color: $inverse-01;
  // }
  // .bx--tabs__nav-item--selected .bx--tabs__nav-link:active {
  //   border-bottom: 0px, none;
  //   color: $inverse-01;
  // }

  // .bx--tabs__nav-item .bx--tabs__nav-link :first-of-type { 
  //   border-top-left-radius: 4px;
  //   border-bottom-left-radius: 4px;
  // }
  
  // .bx--tabs__nav-item .bx--tabs__nav-link:focus {
  //   border-bottom: 0px, none;
  // }

  // .bx--tabs__nav-item .bx--tabs__nav-link:active {
  //   border-bottom: 0px, none;
  //   color: $inverse-01;
  // }

  .bx--data-table th{
    width:10%;
  }


  // Loading icon
  .bx--loading {
    height: 48px;
    width: 48px;
  }


  // Toggle in Footer
  .bx--toggle--small {
    margin-top: $spacing-05;
    margin-bottom: $spacing-05;
  }
  .bx--toggle--small__switch::before {
    background-color: $interactive-02;
  }
  .bx--toggle--small__appearance::before {
    background-color: $interactive-02;
  }
  .bx--toggle--small:checked {
    background-color: #03429D;
  }
  .bx--toggle--small__check {
    fill: #03429D;
  }
  .bx--toggle-input:checked + .bx--toggle-input__label > .bx--toggle__switch::before {
    background-color: #03429D;
  }


  // Date and Time pickers
  .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    width: 159px;
    margin-right: 4px;
  }
  .bx--date-picker__input {
    background-color: $ui-background;
    border-radius: 4px;
    border: #6f6f6f 1px solid;
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .bx--date-picker__icon {
    z-index: 0;
    display: none;
  }
  .flatpickr-calendar.open {
    background-color: $ui-background;
    border-radius: 4px;
    border: #6f6f6f 1px solid;
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 290px;
  }
  .flatpickr-day:hover {
    background-color: #dfecff;
  }
  .flatpickr-day.today {
    position: relative;
    color: #03429D;
  }
  .flatpickr-day.today.selected {
    background-color: #03429D;
    outline: 2px solid #03429D;
    outline-offset: -2px;
    color: white;
  }
  .flatpickr-day.selected {
    background-color: #03429D;
    outline: 2px solid #03429D;
    outline-offset: -2px;
  }

  .bx--time-picker__input-field {
    background-color: $ui-background;
    border-radius: 4px;
    border: #6f6f6f 1px solid;
    @include carbon--type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 76px;
    padding-left: 12px;
    padding-right: 12px;
  }

  // Checkboxes in toolbar
.bx--checkbox-label {
  border-radius: 2px;
}

//run-log-search 
.bx--slider{
  max-width:444px;
  width:100%;
  min-width: 360px;
}

//slider
.bx--slider__filled-track{
  display:none;
}
.bx--slider__thumb{
  background: #03429D;
}
.bx--slider__thumb:focus {
  background-color: #03429D;
  box-shadow: none;
}