@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";
@import "~carbon-components/scss/globals/grid/grid";

.tree-view.bx--grid{
    min-height: 764px;
    min-width: 994px;
    max-height: 772px;
    max-width: 1456px;
    border-radius: 0px 4px 4px 4px;
    background-color: $ui-background;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
  }