// Open Sans
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "Open Sans Bold Italic";
    src: url(../fonts/Open_Sans/OpenSans-BoldItalic.ttf);
}
@font-face {
    font-family: "Open Sans Extra Bold";
    src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: "Open Sans Extra Bold Italic";
    src: url(../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: "Open Sans Semi Bold";
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "Open Sans Semi Bold Italic";
    src: url(../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: "Open Sans Light Italic";
    src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: "Open Sans Italic";
    src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
}

// Work Sans
@font-face {
    font-family: "Work Sans";
    src: url(../fonts/Work_Sans/static/WorkSans-Regular.ttf);
}
@font-face {
    font-family: "Work Sans Bold";
    src: url(../fonts/Work_Sans/static/WorkSans-Bold.ttf);
}
@font-face {
    font-family: "Work Sans Bold Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-BoldItalic.ttf);
}
@font-face {
    font-family: "Work Sans Extra Bold";
    src: url(../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf);
}
@font-face {
    font-family: "Work Sans Extra Bold Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: "Work Sans Semi Bold";
    src: url(../fonts/Work_Sans/static/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: "Work Sans Semi Bold Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "Work Sans Thin";
    src: url(../fonts/Work_Sans/static/WorkSans-Thin.ttf);
}
@font-face {
    font-family: "Work Sans Thin Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-ThinItalic.ttf);
}
@font-face {
    font-family: "Work Sans Medium";
    src: url(../fonts/Work_Sans/static/WorkSans-Medium.ttf);
}
@font-face {
    font-family: "Work Sans Medium Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-MediumItalic.ttf);
}
@font-face {
    font-family: "Work Sans Light";
    src: url(../fonts/Work_Sans/static/WorkSans-Light.ttf);
}
@font-face {
    font-family: "Work Sans Light Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-LightItalic.ttf);
}
@font-face {
    font-family: "Work Sans Extra Light";
    src: url(../fonts/Work_Sans/static/WorkSans-ExtraLight.ttf);
}
@font-face {
    font-family: "Work Sans Extra Light Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-ExtraLightItalic.ttf);
}
@font-face {
    font-family: "Work Sans Black";
    src: url(../fonts/Work_Sans/static/WorkSans-Black.ttf);
}
@font-face {
    font-family: "Work Sans Black Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-BlackItalic.ttf);
}
@font-face {
    font-family: "Work Sans Italic";
    src: url(../fonts/Work_Sans/static/WorkSans-Italic.ttf);
}

