<div ibmGrid class="task-view bx--grid">
    <!-- <div ibmRow>
        <div ibmCol [columnNumbers]="{'md': 9, 'lg': 9}">
            <ibm-accordion [align]="'align'">
                <ibm-accordion-item title="Section 1 title" (selected)="selected($event)">Lorem ipsum dolor sit amet, \
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</ibm-accordion-item>
                <ibm-accordion-item title="Section 2 title" (selected)="selected($event)">Lorem ipsum dolor sit amet, \
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</ibm-accordion-item>
                <ibm-accordion-item title="Section 3 title" (selected)="selected($event)">Lorem ipsum dolor sit amet, \
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</ibm-accordion-item>
                <ibm-accordion-item title="Section 4 title" (selected)="selected($event)">Lorem ipsum dolor sit amet, \
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore \
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation \
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</ibm-accordion-item>
            </ibm-accordion>
        </div>
        <div ibmCol class="col2" [columnNumbers]="{'md': 3, 'lg': 3}">
            <app-alert-modal-story
			[modalType]="'default'"
			[modalLabel]="Label"
			[modalTitle]="Title"
			[size]="size"
			[modalContent]="modalContent">
		</app-alert-modal-story>
		<ibm-placeholder></ibm-placeholder>
        </div>
    </div> -->
</div>