@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

#results-table-container {
    margin-top: 48px;
    position: relative;
}

.checkboxes {
    vertical-align: center;
    z-index: 999; 
    position: absolute;
}