@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.main {
    display: flex;
}

    .main.show-sidebar #extendable-toolbar {
        margin-left: 0;
    }


.persistent-sidebar {
    border-right: $ui-01;
    border-right-width: 1px;
    border-right-style: solid;
}

#extendable-toolbar {
    height: 100vh;
    background-color: #ffffff;
    width: 272px;
    transition: margin-left 0.4s ease-in-out;
    margin-left: -272px;
    border-right: $ui-01;
    border-right-width: 1px;
    border-right-style: solid;
    display: block;
    flex-shrink: 0;
}

.results-page {
    flex-grow: 1;
    background-color: $ui-01;
}

.results-table-container {
    padding-left: $spacing-08;
    padding-right: $spacing-08;
    padding-bottom: $spacing-09;
}