@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.results-page {
    background-color: $ui-03;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.filter{
    width: 30vw;
}