@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";


.run-detail-text {
     @include carbon--type-style("body-short-02");
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-style: normal;
}