@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

#myProgress {
    width: 150px;
    background-color: $skeleton-01;
  }
  
  #myBar {
    width: 0px;
    height: 16px;
    background-color: $skeleton-02;
  }