@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.sidebar-label {
    position: relative;
    height: 48px;
    padding: $spacing-05;
    padding-bottom: $spacing-04;
}

.checkbox {
    margin-left: $spacing-05;
    color: $active-secondary;
}

h4 {
    @include carbon--type-style("body-short-01");
    @include carbon--font-weight("semibold");
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
	font-style: normal;
}
p {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: $spacing-03;
}

.inline-block-element {
    display: inline-block;
}

.icon {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    position: absolute;
    right: $spacing-05;
}