
@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";
@import "~carbon-components/scss/globals/grid/grid";

.search.bx--grid{
    min-height: 764px;
    min-width: 994px;
    max-height: 772px;
    max-width: 1456px;
    border-radius: 0px 4px 4px 4px;
    background-color: $ui-background;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
  }

  @media only screen and (max-width:1060px){
    .col2{
      display: none;
    }
    .col1{
      border-right:none !important;
      border-style: none !important;
    }
  }

  .col1{
    border-right: #e0e0e0;
    border-style: solid;
    min-height: 750px;
    border-right-width: thin;
    border-top: none;
  }


  .filter, .search-box,.search-buttons,.checkboxes,.jump-dropdown,.result-page {
    padding-left: $spacing-05;
  }

  .r3:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 98%; /* width of border */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #e0e0e0;
  }

  .r4:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* width of border */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #e0e0e0;
  }

  .r5:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* width of border */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #e0e0e0;
  }

  .r4,.r5{
    padding-top: $spacing-05;
  }

  .r2{
    justify-content: space-between;
  }

  .col2{
    min-height: 750px;
  }


  .filter {
    padding-left: $spacing-05;
    padding-right: $spacing-05;
}

p {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: $spacing-03;
}

.search-box{
  width:424px;
}
.search-buttons{
  padding-top: 24px;
}
.bt{
  background-color: #03429D;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 4px;
}

.bt:hover{
  background-color: #032a68;
}

.button2{
  margin-left: 4px;
}

.bx--btn__icon{
  width: 2rem;
  flex-shrink: unset;
}
.sb{
  display: inline-flex;
}
.owerflow-button{
  float:left;
}
.ow-button{
  background: none;
  padding-top:24px;
}
.checkboxes{
  display: inline-flex;
  width: 424px;
  
}

.dropdown{
  width:300px;
}

.time-elem{
  display:inline-flex;
}

.r6{
  overflow:scroll;
}

#runlog{
  font-size: 0.7em;
}
