<div ibmGrid class="summary bx--grid">
    <div ibmRow>
        <h4>Summary</h4>
    </div>
            <div ibmRow class="run-history__bx--row first-row">
                <div ibmCol [columnNumbers]="{'lg': 2, 'xlg': 2, 'max': 2}" class="run-history__attribute bx--col">
                    <h5>Result:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 5, 'xlg': 5, 'max': 5}" class="run-history__value bx--col bx--no-gutter">
                    <app-inverse-test-result [value]="result"></app-inverse-test-result>
                </div>
            </div>
            <div ibmRow class="run-history__bx--row">
                <div ibmCol [columnNumbers]="{'lg': 2, 'xlg': 2, 'max': 2}" class="run-history__attribute bx--col">
                    <h5>Test class:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 5, 'xlg': 5, 'max': 5}" class="run-history__value bx--col bx--no-gutter">
                    <app-run-detail [value]="testName"></app-run-detail>
                </div>
            </div>
            <div ibmRow class="run-history__bx--row">
                <div ibmCol [columnNumbers]="{'lg': 2, 'xlg': 2, 'max': 2}" class="run-history__attribute bx--col">
                    <h5>Run name:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 5, 'xlg': 5, 'max': 5}" class="run-history__value bx--col bx--no-gutter">
                    <app-run-detail [value]="runName"></app-run-detail>
                </div>
            </div>
            <div ibmRow class="run-history__bx--row">
                <div ibmCol [columnNumbers]="{'lg': 2, 'xlg': 2, 'max': 2}" class="run-history__attribute bx--col ">
                    <h5>Requested:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 5, 'xlg': 5, 'max': 5}" class="run-history__value bx--col bx--no-gutter">
                    <app-date-time [value]="queued"></app-date-time>
                </div>
            </div>

            <div ibmRow class="run-history__bx--row">
                <div ibmCol [columnNumbers]="{'lg': 2, 'xlg': 2, 'max': 2}" class="run-history__attribute bx--col">
                    <h5>Started:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 5, 'xlg': 5, 'max': 5}" class="run-history__value bx--col bx--no-gutter">
                    <app-date-time [value]="startTime"></app-date-time>
                </div>
            </div>

            <div ibmRow class="run-history__bx--row">
                <div ibmCol [columnNumbers]="{'lg': 2, 'xlg': 2, 'max': 2}" class="run-history__attribute bx--col ">
                    <h5>Finished:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 5, 'xlg': 5, 'max': 5}" class="run-history__value bx--col bx--no-gutter">
                    <div class='inline-block-element'>
                        <app-date-time [value]="endTime"></app-date-time>
                    </div>
                </div>
            </div>

            <app-methods [testMethods]="testMethods" valign="bottom" class="method-table"></app-methods>
</div>
<div ibmGrid class="time-map bx--grid"></div>
<div ibmGrid class="related-tests bx--grid"></div>