@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";
@import "~carbon-components/scss/globals/grid/grid";

.summary.bx--grid{
    min-height: 264px;
    min-width: 994px;
    max-height: 372px;
    max-width: 1456px;
    border-radius: 4px 4px 4px 4px;
    background-color: $ui-background;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 16px;
    margin-top: 16px;
}
h4{
    padding-left:16px;
}
.info-row{
    display:inline-flex;
}

.first-row{
  margin-top: 16px;
}
  .run-history__bx--row {
    margin-bottom: 10px;
  }
  
  .run-history__attribute.bx--col {
    @include carbon--type-style("productive-heading-02");
    @include carbon--font-weight("semibold");
    font-family: 'Work Sans', sans-serif;
      font-weight: 600;
      font-style: normal;
    position: static;
  }
  
  .run-history__value.bx--col {
    @include carbon--type-style("body-short-02");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    position: static;
  }
  
  .inline-block-element {
    display: inline-block;
  }
  
  .inline-block-element:first-child {
    margin-right: 10px;
  }

  .method-table {
    min-width: 512px;
    max-width: 624px;
    position: absolute;
    bottom: 48px;
    top: 48px;
    right: 16px;
  }

  .time-map.bx--grid{
    min-height: 264px;
    min-width: 994px;
    max-height: 372px;
    max-width: 1456px;
    border-radius: 4px 4px 4px 4px;
    background-color: $ui-background;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 16px;
    margin-top: 16px;
}

.related-tests.bx--grid{
  min-height: 264px;
  min-width: 994px;
  max-height: 372px;
  max-width: 1456px;
  border-radius: 4px 4px 4px 4px;
  background-color: $ui-background;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 16px;
  margin-top: 16px;
}