@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";



@mixin landing-page-background() {
	background-color: $ui-01;
	position: relative;
	&::before {
	  content: '';
	  position: absolute;
	  left: -$spacing-05;
	  top: 0;
	  right: -$spacing-05;
	  bottom: 0;
	  background: $ui-01;
	  z-index: -1;
	}
  }


.landing-page {
	.title {
		@include type-style("productive-heading-05");
	}

	.subtitle {
		margin-top: carbon--mini-units(2);
		@include type-style("productive-heading-02");
	}

	.body-text {
		margin-top: carbon--mini-units(2);
		margin-bottom: carbon--mini-units(4);
	}

	.list {
		max-width: carbon--mini-units(63);
		padding-left: carbon--mini-units(6);
		column-count: 2;

		@media only screen and (max-width: 1055px) {
			margin-top: carbon--mini-units(2);
		}
	}

	.starter-tab-description {
		margin-bottom: carbon--mini-units(2);
	}

	.landing-option{
		@include carbon--type-style('productive-heading-03');
		margin-top: $spacing-06*2;
		margin-bottom: $spacing-03;
		@include carbon--breakpoint-between((320px + 1), md) {
	  	max-width: 75%;
	}
}
	.tile{
		
		width: carbon--mini-units(64) ;
		height: carbon--mini-units(32) ;
		background-color: white;
	}
	
	.first-tile-col{
		float:right;
		@include carbon--breakpoint-between((320px + 1), md) {
			max-width: 75%;
		}
	}


	.landing-page__banner {
	padding-top: $spacing-05;
	padding-bottom: $spacing-09 ;
	@include landing-page-background;
  }

  .landing-page__r2 {
	margin-top: rem(-40px);
	padding-bottom: $spacing-09;
	@include landing-page-background;
  }

  .landing-page__subheading {
	@include carbon--type-style('productive-heading-03');
	@include carbon--font-weight('semibold');
  }
  .landing-page__p {
	@include carbon--type-style('body-long-02');
	margin-top: $spacing-05;
	margin-bottom: $spacing-08;
	@include carbon--breakpoint-between((320px + 1), md) {
	  max-width: 75%;
	}
  }
  .landing-page__r3{
	margin-top: $spacing-06;
  }
  .galasa-landing-links{
	@include carbon--type-style('body-long-02');
	margin-top: $spacing-08;
	margin-bottom: $spacing-07;
	color:initial;
	@include carbon--breakpoint-between((320px + 1), md) {
	  max-width: 75%;
	}
  }

}