@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.filter {
    padding-left: $spacing-05;
    padding-right: $spacing-05;
    padding-top: $spacing-05;
}

p {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: $spacing-03;
}

.start-date-time {
    display: inline-flex;
    vertical-align: top;
}
.end-date-time {
    display: inline-flex;
    vertical-align: top;
}

#start-invalid-message {
    color: #da1e28;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: none;
}
#end-invalid-message {
    color: #da1e28;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: none;
}