<div *ngFor="let test of worklist; let i = index" class="worklist-item">

    <ibm-tooltip-icon [placement]="placement" [alignment]="alignment" [content]="test.run.testClass">
        
        <div class="inline-block-element count">
            {{i+1}}
        </div>
        <div class="inline-block-element" *ngIf="test.run.result==='Passed'">
            <img src="../../../../../assets/icons/passed.svg" class="icon">
        </div>
        <div class="inline-block-element" *ngIf="test.run.result==='PassedWithDefects'">
            <img src="../../../../../assets/icons/passed-with-defects.svg" class="icon">
        </div>
        <div class="inline-block-element" *ngIf="test.run.result==='Failed'">
            <img src="../../../../../assets/icons/failed.svg" class="icon">
        </div>
        <div class="inline-block-element" *ngIf="test.run.result==='FailedWithDefects'">
            <img src="../../../../../assets/icons/failed-with-defects.svg" class="icon">
        </div>
        <div class="inline-block-element" *ngIf="test.run.result==='NA'">
            <img src="../../../../../assets/icons/na.svg" class="icon">
        </div>
        <div class="inline-block-element" *ngIf="test.run.result==='unknown'">
            <div class="icon">?</div>
        </div>
        <div class="inline-block-element short-name">
            <p>{{test.run.runName}}</p>
        </div>

    </ibm-tooltip-icon>

</div>
