@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.count {
    margin-right: $spacing-03;
}

.worklist-item {
    margin-bottom: $spacing-04;
}

.run-name {
    color: #03429d;
    font-size: 14px;
}

.short-name {
    margin-left: 8px;
    color: #03429d;
    font-size: 14px;

    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

a {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #03429d;
}
a:hover {
    text-decoration: underline;
}

.inline-block-element {
    display: inline-block;
}

.icon {
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-right: $spacing-03;
}