@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.breadcrumb-header {
    background-color: $ui-background;
    max-width: 100vw;
    height: 48px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    @include type-style("body-short-01");
    position: sticky;
}

.bx--breadcrumb-item {
    position: static;
    overflow: hidden;
    display: inline-flex;
}