@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.sidebar-label {
    position: relative;
    height: 48px;
    padding: $spacing-05;
    padding-bottom: $spacing-04;
}

.help-tooltips {
    margin-left: $spacing-05;
    margin-right: $spacing-05;
    border-bottom: 1px solid $ui-01;
}

.documents {
    margin-top: $spacing-06;
    margin-left: $spacing-05;
}

h4 {
    @include carbon--type-style("body-short-01");
    @include carbon--font-weight("semibold");
    font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
}
p {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: $spacing-05;
}

a {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: #03429d;
}
a:hover {
    text-decoration: underline;
}

.inline-block-element {
    display: inline-block;
}
.tooltip-element {
    display: inline-block;
}
.contrast-element {
    display: inline-block;
}

.toggle-element.tooltip-element{
    margin-left: 120px;
    vertical-align: middle;
    margin-bottom: 22px;
}

.toggle-element.contrast-element {
    vertical-align: middle;
    margin-left: 90px;
    margin-bottom: 22px;
}

.icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    position: absolute;
    right: $spacing-05;
}