@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";



@mixin landing-page-background() {
	background-color: $ui-03;
	position: relative;
	&::before {
	  content: '';
	  position: absolute;
	  left: -$spacing-05;
	  top: 0;
	  right: -$spacing-05;
	  bottom: 0;
	  background: $ui-03;
	  z-index: -1;
	}
  }


.landing-page {

	.title {
		@include type-style("productive-heading-04");
	}

	.subtitle.landing-page__label {
		@include carbon--type-style("productive-heading-02");
		margin-bottom: 16px;
	}

	// .landing-option .subtitle {
	// 	color: $text-01;
	// 	@include carbon--type-style("productive-heading-03");
	// }

	h4 {
		color: $text-01;
		@include carbon--type-style("productive-heading-03");
		@include carbon--font-weight("semibold");
		margin-bottom: 16px;
	}

	.body-text {
		@include carbon--type-style("body-long-02");
		// margin-top: carbon--mini-units(2);
		// margin-bottom: carbon--mini-units(4);
	}

	// Class not in HTML
	.list {
		max-width: carbon--mini-units(63);
		padding-left: carbon--mini-units(6);
		column-count: 2;

		@media only screen and (max-width: 1055px) {
			margin-top: carbon--mini-units(2);
		}
	}

	// Class not in HTML
	.starter-tab-description {
		margin-bottom: carbon--mini-units(2);
	}

	.landing-option .bx--tile{
		border-radius: 4px;
		background-color: $ui-02;
		height: 90%;
		width: 100%;
		// max-height: 298px;
		// max-width: 552px;
		display: block;

	}

	.bx--resource-card__icon--img {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		min-width: 32px;
		min-height: 32px;
		display: flex;
		align-items: flex-end;
		}

	.bx--resource-card__icon--action {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		width: 20px;
		height: 20px;
		}

// 	.landing-page__banner {
// 	padding-top: $spacing-07;
// 	padding-bottom: $spacing-09 ;
// 	@include landing-page-background;
//   }

  .landing-page__r2 {
	// margin-top: rem(-40px);
	padding-top: $spacing-09;
	padding-bottom: $spacing-09;
	padding-left: $spacing-08;
	padding-right: $spacing-08;
	@include landing-page-background;
  }

  // Class not in HTML
  .landing-page__subheading {
	@include carbon--type-style("productive-heading-03");
	@include carbon--font-weight("semibold");
  }
  .landing-option .landing-page__p {
	  max-width: 352px;
	  width: 100%;
	  height: 75%;
  }
  .landing-page__p {
	@include carbon--type-style("body-long-02");
	max-width: 352px;
	margin-right: 32px;
	// margin-top: $spacing-05;
	// margin-bottom: $spacing-08;
	// margin-right: $spacing-06*3;
	color: $text-02;
	@include carbon--breakpoint-between((320px + 1), md) {
	  max-width: 75%;
	}
  }
  .landing-page__r3{
	background-color: $ui-02;
	padding-top: $spacing-09;
	padding-bottom: $spacing-09;
	padding-left: $spacing-08;
	padding-right: $spacing-08;
	max-height: 246px;
	border-bottom-width: 1px;
	border-bottom-color: $ui-01;
	border-style: solid;
  }
  .galasa-landing-links{
	// @include carbon--type-style("heading-02");
	// margin-bottom: $spacing-07;
	@include carbon--breakpoint-between((320px + 1), md) {
	  max-width: 75%;
	}
  }
  .landing-links .bx--tile {
	  background-color: $ui-02;
	  border-width: 1px;
	  border-color: $ui-01;
	  border-style: solid;
	  border-radius: 4px;
	  max-width: 364px;
	  max-height: 150px;
	  min-width: 3rem;
	  min-height: 8rem;
	  display: block;
	  margin-left: 8px;
	  margin-right: 8px;
  }

//  .landing-links.bx--tile#1 {
// 	margin-right: 8px;
//   }
//  .landing-links.bx--tile#2 {
// 	margin-left: 8px;
// 	margin-right: 8px;
//   }
//   .landing-links.bx--tile#3 {
// 	margin-left: 8px;
//   }

}