@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";



@mixin landing-page-background() {
	background-color: $ui-03;
	position: relative;
	
	&::before {
	  content: '';
	  position: absolute;
	  left: -$spacing-05;
	  top: 0;
	  right: -$spacing-05;
	  bottom: 0;
	  background: $ui-03;
	  z-index: -1;
	}
  }

  body{
	-moz-osx-font-smoothing: unset;
	
  }

.landing-page {
	min-width: 552px;
	padding: 0px;

	.first-tile-col{
		max-width:1136px;
	}

	.title {
		@include carbon--type-style("productive-heading-04");
		@include carbon--font-weight("semibold");
		font-family: 'Work Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
	}

	.subtitle.landing-page__label {
		@include carbon--type-style("productive-heading-02");
		@include carbon--font-weight("semibold");
		font-family: 'Work Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		margin-bottom: 16px;
		font-size: 1.75rem;
	}


	h4 {
		color: $text-01;
		@include carbon--type-style("productive-heading-03");
		@include carbon--font-weight("semibold");
		font-family: 'Work Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		margin-bottom: 16px;
	}

	.body-text {
		@include carbon--type-style("body-long-02");
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
    	font-style: normal;
	}
	.get-started-col{
		padding-bottom: 1rem;
	}

	.first-tile-col{
		padding-left: 0%;
	}

	.tile-bx{
		padding-right: 0%;
	}

	.landing-option {
		display: flex;
		flex-direction: column;
	}

	.landing-option .bx--tile{
		
		border-radius: 4px;
		background-color: $ui-02;
		height: 90%;
		width: 100%;
		//max-width: 700px; //use media rule for smaller screens
		margin-bottom: 1rem;
		padding: 11px 15px 11px 15px;
		text-decoration: none;
		

	}
	.landing-option  > * {
		flex: 1;
	}
	.bx--image{
		max-height: 128px;
		max-width: 128px;
		width: auto;
		height: auto;
	}

	.bx--resource-card__icon--img {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		min-width: 32px;
		min-height: 32px;
		display: flex;
		align-items: flex-end;
		}

	.bx--resource-card__icon--action {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		width: 20px;
		height: 20px;
		}

	.bx--btn {
		color: $text-04;
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		max-height: 32px;
		padding-right: 15px;
		padding-top: 8px;
		padding-bottom: 8px;
		
		border: none;
		border-radius: 4px;
		background-color: #03429d;
		@include carbon--type-style("body-short-01");
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
    	font-style: normal;
	}
	.bx--btn:hover {
		background-color: #033a8a;
		color: $text-04;
	}

  .landing-page__r2 {
	padding-top: $spacing-09;
	padding-bottom: $spacing-07;
	padding-left: $spacing-05;
	padding-right: $spacing-05;
	@include landing-page-background;
  }

  .landing-option .landing-page__p {
	  max-width: 400px;
	  width: 100%;
	  height: 75%;
	  padding-bottom: 48px;
	  padding-right: 16px;
  }
  .landing-page__p {
	@include carbon--type-style("body-long-02");
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    font-style: normal;
	max-width: 352px;
	color: $text-02;
	@include carbon--breakpoint-between((320px + 1), md) {
	  max-width: 75%;
	}
  }
  .landing-page__r3{
	background-color: $ui-02;
	padding-top: $spacing-09;
	padding-bottom: $spacing-09;
	padding-left: $spacing-05;
	padding-right: $spacing-05;
  }
  .landing-page__r3 .landing-page__p {
	  padding-bottom: 1rem;
  }
  .galasa-landing-links{
	@include carbon--breakpoint-between((320px + 1), md) {
	  max-width: 75%;
	}
  }
  .bx--no-gutter {
	max-width: 380px;
  }
  
  .landing-links .bx--tile {
	  background-color: $ui-02;
	  border-width: 1px;
	  border-color: $ui-03;
	  border-style: solid;
	  border-radius: 4px;
	  max-height: 150px;
	  min-width: 3rem;
	  min-height: 8rem;
	  display: block;
	  margin-left: 8px;
	  margin-right: 8px;
	  margin-bottom: 1rem;
	  text-decoration: none;
	  max-width: 363px;
	  
  }
  .link-action{
	  width: auto;
	  height: auto;
  }
  .link-action span{
	  color: #03429d;
  }
  .link-action:hover{
	  text-decoration: underline;
  }

}