<div class="bx--grid--full-width landing-page" ibmGrid>
	<!--  2nd row starts here-->
	<div ibmRow class="landing-page__r2">
		<div ibmCol class="get-started-col" [columnNumbers]="{'md': 4, 'lg': 4}">
			<h5 class="subtitle landing-page__label">Get Started</h5>
			<p class="landing-page__p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				Aenean commodo ligula eget dolor. Aenean massa.</p>
		</div>
		<div ibmCol class="first-tile-col " [columnNumbers]="{'md': 12, 'lg': 12}">
			<div ibmRow>
				<!-- bx--col-lg-8 adjust the width of the tile-->
				<div class=" bx--col-md-4 bx--col-lg-8 tile-bx">
					<ibm-clickable-tile class="landing-option" [route]="['results']" id="past-results">
						<h4 class="bx--resource-card__subtitle">Previously run tests</h4>
						<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Aenean commodo ligula eget dolor. </p>

						<!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128"
							style="enable-background:new 0 0 128 128;" xml:space="preserve">
							<style type="text/css">
								.st0 {
									display: none;
								}

								.st1 {
									display: inline;
									fill: #03429D;
								}

								.st2 {
									fill: none;
								}

								.st3 {
									fill: #F8F788;
								}

								.st4 {
									fill: #03429D;
								}

								.st5 {
									fill: #FFFFFF;
								}

								.st6 {
									fill: #FFAD90;
								}

								.st7 {
									fill: none;
									stroke: #03429D;
									stroke-miterlimit: 10;
								}

								.st8 {
									fill: #9EBAE3;
								}
							</style>
							<g id="background" class="st0">
							</g>
							<g id="Layer_1">
								<circle class="st4" cx="37" cy="15" r="4" />
								<circle class="st6" cx="37" cy="15" r="3" />
								<path class="st4" d="M37,23c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4s4-1.8,4-4C41,24.8,39.2,23,37,23z M37,30c-1.7,0-3-1.3-3-3s1.3-3,3-3
		s3,1.3,3,3S38.7,30,37,30z" />
								<path class="st4" d="M37,27c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4s4-1.8,4-4C41,28.8,39.2,27,37,27z M37,34c-1.7,0-3-1.3-3-3s1.3-3,3-3
		s3,1.3,3,3S38.7,34,37,34z" />
								<rect x="63.5" y="63.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 191.5 -63.5)"
									class="st4" width="128" height="1" />
								<rect x="0" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 128 1)" class="st4"
									width="128" height="1" />
								<rect y="127" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 32 255)" class="st4"
									width="32" height="1" />
								<rect x="-63.5" y="63.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 64.5 63.5)"
									class="st4" width="128" height="1" />
								<g>
									<polygon class="st3" points="27.8,127.5 63,65 98.1,127.5 		" />
									<path class="st4" d="M63,66l34.3,61H28.7L63,66 M63,64l-36,64h72L63,64L63,64z" />
								</g>
								<g>
									<polygon class="st5" points="62.9,127.5 80.5,96.1 98.1,127.5 		" />
									<path class="st4"
										d="M80.5,97.2L97.3,127H63.7L80.5,97.2 M80.5,95.1L62,128h37L80.5,95.1L80.5,95.1z" />
								</g>
								<g>
									<polygon class="st6" points="69.9,127.5 84,102.4 98.1,127.5 		" />
									<path class="st4"
										d="M84,103.4L97.3,127H70.7L84,103.4 M84,101.3L69,128h30L84,101.3L84,101.3z" />
								</g>
								<rect x="51" y="57" class="st4" width="24" height="1" />
								<rect x="39" y="50" class="st4" width="48" height="1" />
								<rect x="15.1" y="43" class="st4" width="96" height="1" />
								<g>
									<rect x="72.5" y="11.5" class="st5" width="23" height="23" />
									<path class="st4" d="M95,12v22H73V12H95 M96,11H72v24h24V11L96,11z" />
								</g>
							</g>
						</svg>

						<button class="bx--btn">
							View tests
						</button>


					</ibm-clickable-tile>

				</div>
				<!-- bx--col-lg-7 adjust the width of the tile-->
				<div class="  bx--col-md-4 bx--col-lg-8 tile-bx">
					<ibm-clickable-tile class="landing-option" id="system-results">
						<h4 class="bx--resource-card__subtitle">System status</h4>
						<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Aenean commodo ligula eget dolor. </p>

						<!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128"
							style="enable-background:new 0 0 128 128;" xml:space="preserve">
							<style type="text/css">
								.st0 {
									display: none;
								}

								.st1 {
									display: inline;
									fill: #03429D;
								}

								.st2 {
									fill: none;
								}

								.st3 {
									fill: #F8F788;
								}

								.st4 {
									fill: #03429D;
								}

								.st5 {
									fill: #FFFFFF;
								}

								.st6 {
									fill: #FFAD90;
								}

								.st7 {
									fill: none;
									stroke: #03429D;
									stroke-miterlimit: 10;
								}

								.st8 {
									fill: #9EBAE3;
								}
							</style>
							<g id="background" class="st0">
							</g>
							<g id="Layer_1">
								<polygon class="st3" points="60,86 60,92 82,92 83.7,86 	" />
								<polygon class="st3" points="86.7,74 54,74 54,86 60,86 60,80 85,80 	" />
								<g>
									<path class="st3"
										d="M50.2,59.2c2.2,0.5,4.5,0.8,6.8,0.8c16.6,0,30-13.4,30-30c0-6.1-1.8-11.7-4.9-16.4L50.2,59.2z" />
								</g>
								<g>
									<path class="st4"
										d="M104.7,9L71.5,127H3.9L86.5,9H104.7 M106,8H86L2,128h70.3L106,8L106,8z" />
								</g>
								<g>
									<path class="st4" d="M117,75v10H55V75H117 M118,74H54v12h64V74L118,74z" />
								</g>
								<g>
									<path class="st4" d="M123,81v10H61V81H123 M124,80H60v12h64V80L124,80z" />
								</g>
								<rect x="-25.5" y="25.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 26.5 25.5)"
									class="st4" width="52" height="1" />
								<rect class="st4" width="32" height="1" />
								<rect x="94.5" y="32.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 160.5 -94.5)"
									class="st4" width="66" height="1" />
								<rect x="106" class="st4" width="22" height="1" />
								<rect x="113.5" y="113.5"
									transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 241.5 -13.5)" class="st4"
									width="28" height="1" />
								<rect x="80" y="127" class="st4" width="48" height="1" />
								<g>
									<line class="st7" x1="42.5" y1="61.2" x2="2" y2="118.6" />
								</g>
								<line class="st7" x1="2" y1="111.2" x2="37.6" y2="60.9" />
								<g>
									<path class="st4" d="M57,1c16,0,29,13,29,29S73,59,57,59S28,46,28,30S41,1,57,1 M57,0C40.4,0,27,13.4,27,30s13.4,30,30,30
			s30-13.4,30-30S73.6,0,57,0L57,0z" />
								</g>
								<g>
									<polygon class="st6" points="0.5,60.5 31,60.5 0.5,104.2 		" />
									<path class="st4" d="M30.1,61L1,102.6V61H30.1 M32,60H0v45.8L32,60L32,60z" />
								</g>
							</g>
						</svg>

						<button class="bx--btn">
							Check status
						</button>


					</ibm-clickable-tile>

				</div>

				<!-- bx--col-lg-7 adjust the width of the tile-->
				<div class="  bx--col-md-4 bx--col-lg-8 tile-bx">
					<ibm-clickable-tile class="landing-option" id="configure-system">
						<h4 class="bx--resource-card__subtitle">System Configuration</h4>
						<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Aenean commodo ligula eget dolor. </p>

						<!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128"
							style="enable-background:new 0 0 128 128;" xml:space="preserve">
							<style type="text/css">
								.st0 {
									display: none;
								}

								.st1 {
									display: inline;
									fill: #03429D;
								}

								.st2 {
									fill: none;
								}

								.st3 {
									fill: #F8F788;
								}

								.st4 {
									fill: #03429D;
								}

								.st5 {
									fill: #FFFFFF;
								}

								.st6 {
									fill: #FFAD90;
								}

								.st7 {
									fill: none;
									stroke: #03429D;
									stroke-miterlimit: 10;
								}

								.st8 {
									fill: #9EBAE3;
								}
							</style>
							<g id="background" class="st0">
							</g>
							<g id="Layer_1">
								<rect class="st4" width="113" height="1" />
								<rect x="-63.5" y="63.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 64.5 63.5)"
									class="st4" width="128" height="1" />
								<rect x="82.5" y="89.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 194.5 -14.5)"
									class="st4" width="44" height="1" />
								<rect x="52" y="35" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 132 71)"
									class="st4" width="28" height="1" />
								<rect x="64" y="16" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 192 33)"
									class="st4" width="64" height="1" />
								<rect x="64" y="16" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 129 48)"
									class="st4" width="1" height="16" />
								<rect x="4" y="16" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 9 128)"
									class="st4" width="1" height="96" />
								<rect x="59" y="44" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 119 156)"
									class="st4" width="1" height="68" />
								<rect x="72" y="80" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 145 192)"
									class="st4" width="1" height="32" />
								<rect x="79" y="80" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 159 192)"
									class="st4" width="1" height="32" />
								<rect x="116" y="24" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 232.9998 76)"
									class="st4" width="1" height="28" />
								<rect x="119" y="24" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 238.9998 76)"
									class="st4" width="1" height="28" />
								<rect x="116" y="24" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 236 49)"
									class="st4" width="4" height="1" />
								<rect x="116" y="51" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 236 103)"
									class="st4" width="4" height="1" />
								<rect x="75.5" y="76.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 156.5 4.5)"
									class="st4" width="1" height="8" />
								<rect x="75.5" y="107.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 187.5 35.5)"
									class="st4" width="1" height="8" />
								<rect x="59" y="16" class="st4" width="1" height="16" />
								<rect x="127" y="16" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 255 76)"
									class="st4" width="1" height="44" />
								<rect x="64" y="44" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 129 104)"
									class="st4" width="1" height="16" />
								<rect x="8" y="23" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 44 47)"
									class="st4" width="28" height="1" />
								<rect x="5" y="16" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 64 33)"
									class="st4" width="54" height="1" />
								<rect x="4" y="111" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 64 223)"
									class="st4" width="56" height="1" />
								<rect x="52" y="40" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 132 81)"
									class="st4" width="28" height="1" />
								<rect x="64" y="59" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 132 119)"
									class="st4" width="4" height="1" />
								<rect x="84" y="59" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 212 119)"
									class="st4" width="44" height="1" />
								<rect x="86.5" y="89.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 198.5 -18.5)"
									class="st4" width="44" height="1" />
								<rect x="82.5" y="97.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 210.5 -14.5)"
									class="st4" width="60" height="1" />
								<rect y="127" class="st4" width="113" height="1" />
								<circle class="st4" cx="16" cy="100" r="4" />
								<circle class="st3" cx="16" cy="100" r="3" />
								<circle class="st4" cx="28" cy="100" r="4" />
								<circle class="st5" cx="28" cy="100" r="3" />
								<circle class="st4" cx="76" cy="72" r="4" />
								<circle class="st5" cx="76" cy="72" r="3" />
								<circle class="st4" cx="76" cy="59" r="4" />
								<circle class="st5" cx="76" cy="59" r="3" />
								<circle class="st4" cx="108" cy="48" r="4" />
								<circle class="st6" cx="108" cy="48" r="3" />
								<rect x="73" y="81" class="st3" width="6" height="30" />
							</g>
						</svg>

						<button class="bx--btn">
							Configure system
						</button>


					</ibm-clickable-tile>

				</div>
				<!-- bx--col-lg-7 adjust the width of the tile-->
				<div class="  bx--col-md-4 bx--col-lg-8 tile-bx">
					<ibm-clickable-tile class="landing-option" id="submit-tests">
						<h4 class="bx--resource-card__subtitle">Submit tests</h4>
						<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Aenean commodo ligula eget dolor. </p>

						<!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							x="0px" y="0px" width="128px" height="128px" viewBox="0 0 128 128"
							style="enable-background:new 0 0 128 128;" xml:space="preserve">
							<style type="text/css">
								.st0 {
									display: none;
								}

								.st1 {
									display: inline;
									fill: #03429D;
								}

								.st2 {
									fill: none;
								}

								.st3 {
									fill: #F8F788;
								}

								.st4 {
									fill: #03429D;
								}

								.st5 {
									fill: #FFFFFF;
								}

								.st6 {
									fill: #FFAD90;
								}

								.st7 {
									fill: none;
									stroke: #03429D;
									stroke-miterlimit: 10;
								}

								.st8 {
									fill: #9EBAE3;
								}
							</style>
							<g id="background" class="st0">
							</g>
							<g id="Layer_1">
								<rect x="4" class="st4" width="124" height="1" />
								<rect x="67.5" y="63.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 179.5 -51.5)"
									class="st4" width="96" height="1" />
								<rect x="71.5" y="63.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 183.5 -55.5)"
									class="st4" width="96" height="1" />
								<rect x="-25.5" y="97.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 102.5 93.5)"
									class="st4" width="60" height="1" />
								<rect x="-25.5" y="97.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 102.5 93.5)"
									class="st4" width="60" height="1" />
								<rect x="4" y="127" class="st4" width="124" height="1" />
								<circle class="st4" cx="92" cy="20" r="4" />
								<circle class="st3" cx="92" cy="20" r="3" />
								<path class="st4" d="M92,28c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4s4-1.8,4-4C96,29.8,94.2,28,92,28z M92,35c-1.7,0-3-1.3-3-3s1.3-3,3-3
		s3,1.3,3,3S93.7,35,92,35z" />
								<path class="st4" d="M92,32c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4s4-1.8,4-4C96,33.8,94.2,32,92,32z M92,39c-1.7,0-3-1.3-3-3s1.3-3,3-3
		s3,1.3,3,3S93.7,39,92,39z" />
								<g>
									<polygon class="st3" points="0.5,59.5 0.5,16.5 15.8,16.5 52.9,59.5 		" />
									<path class="st4" d="M15.5,17l36.3,42H1V17H15.5 M16,16H0v44h54L16,16L16,16z" />
								</g>
								<g>
									<path class="st4"
										d="M26.2,17l7.3,0l62.2,70h-7.3L26.2,17 M24,16l64,72h10L34,16L24,16L24,16z" />
								</g>
								<line class="st7" x1="12.2" y1="80.4" x2="37.5" y2="109.6" />
								<line class="st7" x1="16" y1="75.6" x2="33.6" y2="95.9" />
								<line class="st7" x1="58.4" y1="67.7" x2="76" y2="88" />
								<line class="st7" x1="42" y1="15.9" x2="67.3" y2="45.1" />
								<rect x="63.5" y="63.5" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 191.5 -63.5)"
									class="st4" width="128" height="1" />
								<g>
									<circle class="st4" cx="92" cy="108" r="4" />
									<circle class="st6" cx="92" cy="108" r="3" />
								</g>
							</g>
						</svg>

						<button class="bx--btn">
							Submit
						</button>

					</ibm-clickable-tile>

				</div>
			</div>
		</div>
	</div>
	<!-- 3rd row starts here-->
	<div ibmRow class="landing-page__r3 ">
		<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
			<h5 class="subtitle landing-page__label">Useful links</h5>

			<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
				eget dolor. </p>
		</div>
		<div ibmCol class="bx--no-gutter galasa-landing-links " [columnNumbers]="{'md': 4, 'lg': 4}">

			<ibm-clickable-tile class="landing-links" id="1">
				<h4>Profile</h4>
				<div class="bx--resource-card__icon--img">
					<svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
						<defs>
							<style>
								.cls-1 {
									fill: none;
								}
							</style>
						</defs>
						<path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Zm0,8a3,3,0,1,1,3-3A3.0034,3.0034,0,0,1,16,16Z" />
						<path
							d="M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2ZM10,26.3765V25a3.0033,3.0033,0,0,1,3-3h6a3.0033,3.0033,0,0,1,3,3v1.3765a11.8989,11.8989,0,0,1-12,0Zm13.9925-1.4507A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z" />
						<rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1"
							width="32" height="32" />
					</svg>

				</div>
				<div class="bx--resource-card__icon--action link-action">
					<p>Edit profile</p>
				</div>
			</ibm-clickable-tile>
		</div>
		<div ibmCol class="bx--no-gutter galasa-landing-links " [columnNumbers]="{'md': 4, 'lg': 4}">
			<ibm-clickable-tile class="landing-links" id="2">
				<h4>Galasa documents</h4>
				<div class="bx--resource-card__icon--img">

					<!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px"
						viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
						<style type="text/css">
							.st0 {
								fill: none;
							}
						</style>
						<title>document</title>
						<path d="M25.7,9.3l-7-7C18.5,2.1,18.3,2,18,2H8C6.9,2,6,2.9,6,4v24c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V10C26,9.7,25.9,9.5,25.7,9.3
	z M18,4.4l5.6,5.6H18V4.4z M24,28H8V4h8v6c0,1.1,0.9,2,2,2h6V28z" />
						<rect x="10" y="22" width="12" height="2" />
						<rect x="10" y="16" width="12" height="2" />
						<rect class="st0" width="32" height="32" />
					</svg>

				</div>
				<div class="bx--resource-card__icon--action link-action">
					<p>Read docs</p>
				</div>
			</ibm-clickable-tile>
		</div>
		<div ibmCol class="bx--no-gutter galasa-landing-links " [columnNumbers]="{'md': 4, 'lg': 4}">
			<ibm-clickable-tile class="landing-links" id="3">
				<h4>Support</h4>
				<div class="bx--resource-card__icon--img">
					<!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px"
						viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
						<style type="text/css">
							.st0 {
								fill: none;
							}
						</style>
						<path d="M28,6H8C6.8,6,6,6.8,6,8v14c0,1.2,0.8,2,2,2h8v-2H8V8h20v14h-7.2L16,28.8l1.6,1.2l4.2-6H28c1.2,0,2-0.8,2-2V8
C30,6.8,29.2,6,28,6z" />
						<path d="M4,18H2V5c0-1.7,1.3-3,3-3h13v2H5C4.4,4,4,4.4,4,5V18z" />
						<rect id="_Transparent_Rectangle_" class="st0" width="32" height="32" />
					</svg>
				</div>
				<div class="bx--resource-card__icon--action link-action">
					<p>Get Support</p>
				</div>
			</ibm-clickable-tile>
		</div>
	</div>

</div>