<div class="bx--grid--full-width landing-page" ibmGrid>
	<!--  2nd row starts here-->
	<div ibmRow class="landing-page__r2">
		<div ibmCol class = "get-started-col" [columnNumbers]="{'md': 4, 'lg': 4}">
			<h3 class="subtitle landing-page__label">Getting Started</h3>
			<p class="landing-page__p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				Aenean commodo ligula eget dolor. Aenean massa.</p>
		</div>
		<div ibmCol class="first-tile-col " [columnNumbers]="{'md': 12, 'lg': 12}">
			<div ibmRow>
				<!-- bx--col-lg-8 adjust the width of the tile-->
				<div class=" bx--col-md-4 bx--col-lg-8 tile-bx">
							<ibm-clickable-tile class="landing-option" [route]="['results']" id="past-results">
								<h4 class="bx--resource-card__subtitle">Previously run tests</h4>
								<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit. Aenean commodo ligula eget dolor. </p>
									<img src = "../../assets/icons/galasa-previouly-run-tests.svg" alt = "previously run tests" class = "bx--image">
								
									<button class="bx--btn">
										View tests
									</button>

								
							</ibm-clickable-tile>

				</div>
				<!-- bx--col-lg-7 adjust the width of the tile-->
				<div class="  bx--col-md-4 bx--col-lg-8 tile-bx">
							<ibm-clickable-tile class="landing-option" id="system-results">
								<h4 class="bx--resource-card__subtitle">System status</h4>
								<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit. Aenean commodo ligula eget dolor. </p>
									<img src = "../../assets/icons/galasa-system-status.svg" alt = "System status" class = "bx--image">
										<button class="bx--btn">
											Check status
										</button>
	
									
							</ibm-clickable-tile>

				</div>

				<!-- bx--col-lg-7 adjust the width of the tile-->
				<div class="  bx--col-md-4 bx--col-lg-8 tile-bx">
							<ibm-clickable-tile class="landing-option" id="configure-system">
								<h4 class="bx--resource-card__subtitle">System Configuration</h4>
								<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit. Aenean commodo ligula eget dolor. </p>
									<img src = "../../assets/icons/galasa-system-configuration.svg" alt = "System configuration" class = "bx--image">
									<button class="bx--btn">
										Configure system
									</button>
	
									
							</ibm-clickable-tile>

				</div>
				<!-- bx--col-lg-7 adjust the width of the tile-->
				<div class="  bx--col-md-4 bx--col-lg-8 tile-bx">
							<ibm-clickable-tile class="landing-option" id="submit-tests">
								<h4 class="bx--resource-card__subtitle">Submit tests</h4>
								<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit. Aenean commodo ligula eget dolor. </p>
									<img src = "../../assets/icons/galasa-submit-test.svg" alt = "Submit tests" class = "bx--image">
									<button class="bx--btn">
										Schedule tests
									</button>
	
							</ibm-clickable-tile>

				</div>
			</div>
		</div>
	</div>
	<!-- 3rd row starts here-->
	<div ibmRow class="landing-page__r3 ">
		<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
			<h5 class="subtitle landing-page__label">Useful links</h5>

			<p class="landing-page__p"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
				eget dolor. </p>
		</div>
		
		<div ibmCol class="bx--no-gutter galasa-landing-links " [columnNumbers]="{'md': 4, 'lg': 4}">
			
			<ibm-clickable-tile class="landing-links" id="1">
				<h4>Profile</h4>
				<div class="bx--resource-card__icon--img">
					<img src="../../assets/icons/user--avatar.svg" alt="User avatar">
				</div>
				<div class="bx--resource-card__icon--action link-action">
					<span>Edit profile</span>
				</div>
			</ibm-clickable-tile>
		</div>
		<div ibmCol class="bx--no-gutter galasa-landing-links " [columnNumbers]="{'md': 4, 'lg': 4}">
			<ibm-clickable-tile class="landing-links" id="2">
				<h4>Galasa documents</h4>
				<div class="bx--resource-card__icon--img">
					<img src="../../assets/icons/document(1).svg" alt = "document">
				</div>
				<div class="bx--resource-card__icon--action link-action">
					<span>Read docs</span>
				</div>
			</ibm-clickable-tile>
		</div>
		<div ibmCol class="bx--no-gutter galasa-landing-links " [columnNumbers]="{'md': 4, 'lg': 4}">
			<ibm-clickable-tile class="landing-links" id="3">
				<h4>Support</h4>
				<div class="bx--resource-card__icon--img">
					<img src ="../../assets/icons/forum.svg" alt = "forum">
				</div>
				<div class="bx--resource-card__icon--action link-action">
					<span>Get Support</span>
				</div>
			</ibm-clickable-tile>
		</div>
	</div>

</div>