<div class="tabs" >
    <app-galasa-tabs [followFocus]=true [cacheActive]=true >
    
        <app-galasa-tab class=" tab bx--tabs__nav-link" id="task-view" tabTitle="Task View">
            <app-task-view class="artifact-task" ></app-task-view>
        </app-galasa-tab>
        <app-galasa-tab class="tab bx--tabs__nav-link" id="tree-view" tabTitle="Tree View">     
            <app-tree-view class="artifact-tree" ></app-tree-view>
        </app-galasa-tab>
    </app-galasa-tabs>
    </div>
    <!-- will need Modal from carbon -->