$feature-flags: (
  grid-columns-16: true,
);

@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";
@import "~carbon-components/scss/globals/grid/grid";


  .tabs{
    margin-top: 48px;
    
  }

  