<div class="sidebar-label">
    <h4 class="inline-block-element">Filter tests</h4>
    <img
        src="../../../../../assets/icons/close.svg"
        class="icon inline-block-element"
        (click)="collapseToolbar()"
        >
</div>
<div class="filter">
    <p>Test class name</p>
    <app-testclasses-filter id="filter"></app-testclasses-filter>
</div>
<div class="filter">
    <p>Bundle</p>
    <app-bundle-filter id="filter"></app-bundle-filter>
</div>
<div class="filter">
    <p>Requestor</p>
    <app-requestors-filter id="filter"></app-requestors-filter>
</div>
<div class="filter">
    <p>Result status</p>
    <app-resultnames-filter id="filter"></app-resultnames-filter>            
</div>
