@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.sidebar-label {
    position: relative;
    height: 48px;
    padding: $spacing-05;
    padding-bottom: $spacing-04;
}

.filter {
    padding-left: $spacing-05;
    padding-right: $spacing-05;
    padding-top: $spacing-05;
}

#filter { // not working
    margin-top: $spacing-03;
    width: 240px;
}

h4 {
    @include carbon--type-style("body-short-01");
    @include carbon--font-weight("semibold");
    font-family: 'Work Sans Semi Bold', sans-serif;
    font-weight: 500;
}
p {
    @include type-style("body-short-01");
    font-family: 'Open Sans', sans-serif;
    margin-bottom: $spacing-03;
}

.inline-block-element {
    display: inline-block;
}

.icon {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    position: absolute;
    right: $spacing-05;
}