@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

.run-overview {
  // max-height: 772px;
  max-height: 100vh;
  // max-width: 1456px;
  max-width: 100vw;
  border-radius: 4px;
  // background-color: $ui-background; 
  background-color: $ui-background;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 48px;
}

.run-overview__row {
  margin-bottom: $spacing-03;
  margin-top: $spacing-03;
}

.run-overview__attribute {
  max-width: 12.5vw;
  margin-right: $spacing-03;
  @include type-style("productive-heading-02");
}

.inline-block-element {
  display: inline-block;
}