$feature-flags: (
  grid-columns-16: true,
);

@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";
@import "~carbon-components/scss/globals/grid/grid";

h5{
  font-size: 16px;
}
.buttons{
  max-width: 1456px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  
}

.bt{
  background-color: white;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  padding-right: 0px;
  padding-left: 5px;
  border: solid thin #03429D;
}

.bt:hover{
  background-color: #03429D;
}

.bt .h-img{
  display:none;
  position: absolute;
  top: 12%;
  left: 10%;
  z-index: 9;
}
.bt:hover .h-img{
  display: inline;
  
}

.buttons img{
  width: 28px;
  height: 28px;
}

.button1{
  border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.button3{
  border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.bt .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 7px 0;
  height: 35px;

  position: absolute;
  z-index: 1;
  right: -40px;
  top: -45px;
}

.bt .tooltip{
  visibility: hidden;
  text-align: center;
  border-radius: 4px;

  position: absolute;
  z-index: 1;
  top: -21px;
}

.bt:hover .tooltiptext {
  visibility: visible;
}

.bt:hover .tooltip {
  visibility: visible;
}

.run-overview.bx--grid{
  min-height: 464px;
  min-width: 994px;
  max-height: 772px;
  max-width: 1456px;
  border-radius: 4px;
  background-color: $ui-background;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 40px;
  margin-top: 16px;
}

.run-overview__bx--row {
  margin-bottom: $spacing-05;
}

.run-overview__attribute.bx--col {
  @include carbon--type-style("productive-heading-02");
  @include carbon--font-weight("semibold");
  font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
  position: static;
}

.run-overview__value.bx--col {
  padding-left: 32px;
  @include carbon--type-style("body-short-02");
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  position: static;
  overflow: hidden;
}

.inline-block-element {
  display: inline-block;
}

.inline-block-element:first-child {
  margin-right: 10px;
}

.tag-bt .img{
  width: 28px;
  height: 28px;
}

.tag-bt{
  margin-left: 6px;
  padding-top: 24px;
  background-color: #03429D;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 4px;
}
.tag-bt:hover{
  background-color: #032a68;
}
.tag-bt .bx--btn__icon{
  width: 2rem;
flex-shrink: unset;
height: 2rem;
top: -7px;
position: relative;
left: -12px;
}

.method-table {
  position: initial;
}

