<div id="container" class="run-overview">

    <div ibmGrid class="grid">

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Result:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-test-result [value]="result"></app-test-result>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Run Name:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-run-detail [value]="runName"></app-run-detail>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Short Name:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-run-detail [value]="testShortName"></app-run-detail>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Bundle:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-run-detail [value]="bundle"></app-run-detail>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Test Name:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-run-detail [value]="testName"></app-run-detail>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Requestor:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-run-detail [value]="requestor"></app-run-detail>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Run Requested:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-date-time [value]="queued"></app-date-time>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Run Started:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <app-date-time [value]="startTime"></app-date-time>
                </div>
            </div>

            <div ibmRow class="run-overview__row">
                <div ibmCol [columnNumbers]="{'lg': 2}" class="run-overview__attribute">
                    <h5>Run Finished:</h5>
                </div>
                <div ibmCol [columnNumbers]="{'lg': 8}">
                    <div class='inline-block-element'><app-date-time [value]="endTime"></app-date-time></div>
                    <div class='inline-block-element'><app-run-detail [value]="duration"></app-run-detail></div> 
                 
                </div>
            </div>

    </div>

    <app-methods [testMethods] = "testMethods"></app-methods>

</div>